/*
* This is a manifest file that'll be compiled into application.css, which will include all the files
* listed below.
*
* Any CSS file within this directory can be referenced here using a relative path.
*
* You're free to add application-wide styles to this file and they'll appear at the top of the
* compiled file, but it's generally better to create a new file per style scope.
*
*= require bootstrap
*= require grails
*= require main
*= require mobile
*= require_self
*/
body { padding-top: 50px;}

html, body {
  margin: 0;
  height: 100%;
  background-color: white;
}

a:hover {
    text-decoration: none;
    /*cursor: pointer;*/
}

/*Custom CSS */
.activity-card {
  margin-top: 1em;
  border: 1px dashed #ddd;
  padding-bottom: 20px;
}

.activity-card .title {
  display: inline-block;
  width: 100%;
  font-size: 1.4em;
  text-align: center;
  background-color: #eee;
}

.activity-card p {
  margin: 10px 0;
}
.activity-card li a {
  width: 80px;
}
.activity-card .activity-btns {
  margin-right: 20px;
  margin-left: 20px;
  /*display: inline-block;*/
  /*text-align: center;
  list-style-type: none;
  display: inline-block;
  float: right;
  position: relative;
  top: -200;*/
}

.btn-criar-tarefa {

  bottom: 3em;
  right: 2em;
}

.povmt-form {
  padding-top: 30px;
}
